<div class="relative group/item md:ml-0 ml-2 btn-animate rounded-xl [.sortable-chosen_&]:bg-indigo-50 bg-white shadow-card">
    <div class="flex-1 [.idea-container_&]:mx-0 relative flex group/item">
        <div class="min-h-12 flex flex-col pt-2.5 justify-between p-2 pl-6 w-full">
            <div class="">
                {% if item.name %}
                    <div class="font-semibold text-gray-700 text-sm/6 line-clamp-2 mb-2">{{ item.name }}</div>
                {% endif %}
                <div class="text-gray-600 text-sm">{{ item.notes }}</div>
            </div>
        </div>
    </div>
    <div class="absolute handle z-20 cursor-grabbing -ml-6 pl-6 -mr-3 pr-3 top-1 -start-3.5">
        <div class="inline-flex relative items-center justify-center w-7 h-7">
            <twig:ux:icon name="wpf:note" class="size-5 text-indigo-300 bg-white"/>
        </div>
        <div class="-mt-1 opacity-100 group-hover/item:[&:not(.sortable-ghost_&)]:opacity-100 transition-opacity bg-white rounded-md flex justify-center">
            <twig:ux:icon name="ic:baseline-drag-indicator" class="size-5 md:size-6 text-indigo-300/70" />
        </div>
    </div>
    <a href="{{ path('app_travelitem_edit', {'item': item.id, 'trip': trip.id}) }}" data-turbo-frame="modal" class="cursor-pointer z-10 absolute w-full h-full top-0 left-0"></a>
</div>
