<twig:Modal>
    {% block title %}
        <div class="w-100 flex items-center">
            {{ ux_icon('material-symbols:link', {class: 'size-5 mr-2'}) }}
            {{ 'trip.join_token.share_link'|trans }}
        </div>
    {% endblock %}


    {{ 'trip.join_token.allow_warning'|trans }}
    <hr class="my-8 text-gray-200" />

    <span class="text-blue-500 text-sm">
        {{ url('app_trip_join', {inviteToken: trip.inviteToken}) }}
    </span>
</twig:Modal>
