<twig:Modal>
    {% block title %}
        <div class="w-100 flex items-center">
            {{ ux_icon('material-symbols:link', {class: 'size-5 mr-2'}) }}
            Partage par lien
        </div>
    {% endblock %}


    Toutes les personnes disposant du lien peuvent rejoindre ce voyage et a le modifier.
    <hr class="my-8 text-gray-200" />
    {% if success|default(false) %}
        <div class="text-green-500">
            LIEN CREER
        </div>
    {% endif %}
    <div class="text-blue-500 text-sm">
        {{ url('app_trip_join', {inviteToken: trip.inviteToken}) }}
    </div>
</twig:Modal>
