framework:
    mailer:
        dsn: '%env(MAILER_DSN)%'

when@dev:
    framework:
        mailer:
            envelope:
                recipients: ['haonhien.dev@gmail.com']

when@test:
    framework:
        mailer:
            dsn: 'null://null'
