<turbo-frame id="travel-item-form">
    {% include 'travel_item/Component/_type_selector.html.twig' with {type} %}
    <div class="border-black rounded-2xl border-2 mt-6 p-5">
        {{ type.value }}
        {{ form(form) }}
    </div>
</turbo-frame>
