@import "tailwindcss";

body {
    background: #d6e3ff;
}

html {
     scrollbar-gutter: stable;
}

.new-item {
    animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
    opacity: 0;
    transform: translateY(-20%);
    transform-origin: top center;
}

@keyframes show {
    100% {
        opacity: 1;
        transform: none;
    }
}

gmp-place-autocomplete {
    color-scheme: light;
    outline: none !important;
}

.custom-select {
    /* Remove default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Add custom button styles */
    border: none;
    cursor: pointer;

    /* Add a custom arrow */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    padding-right: 30px; /* Make space for the arrow */
}

.timeline-container {
    position: relative; /* Establishes a positioning context for the pseudo-elements */
    max-width: 500px;
    margin: 20px auto;
}

/* The main vertical line */
.timeline-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 30px; /* Position the line on the left */
    height: 100%;
    width: 1px;
    background-color: #d1d5db;
}

.timeline-card {
    position: relative; /* Required for positioning the pseudo-elements */
    background-color: #ffffff;
    margin-bottom: 30px; /* Space between cards */
}

/* The '+' icon on the line between cards */
.timeline-card:not(:last-child)::after {
    content: '+';
    position: absolute;
    top: 100%; /* Position it right at the bottom of the card */
    left: 31.5px; /* Align with the main vertical line */
    transform: translateX(-50%);
    margin-top: 5px; /* Space between card bottom and the '+' icon */

    /* Styling for the '+' icon */
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    width: 19px;
    height: 19px;
    border-radius: 50%;

    /* Centering the '+' text */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Ensures the icon is above the main line */
}
