@import "tailwindcss";

body {
    /*background: #dfefff;*/
    /*background: #e8f3ff;*/
    /*background-color: #f4f9ff;*/
}

html {
     scrollbar-gutter: stable;
}

.new-item {
    animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
    opacity: 0;
    transform: translateY(-20%);
    transform-origin: top center;
}

@keyframes show {
    100% {
        opacity: 1;
        transform: none;
    }
}

gmp-place-autocomplete {
    color-scheme: light;
    outline: none !important;
}

.bg-indigo-25 {
    background-color: #F5F7FF;
}

.bg-indigo-10 {
    background-color: #fcfcff;
}

.card-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
}

/* Custom styles for the date picker */
[data-vc-theme=light] .vc-date[data-vc-date-month=next]:not(.vc-date[data-vc-date-disabled]) .vc-date__btn,
[data-vc-theme=light] .vc-date[data-vc-date-month=prev]:not(.vc-date[data-vc-date-disabled]) .vc-date__btn {
    color: #59637b !important;
}

@layer components {
    .btn {
        border-radius: var(--radius-2xl);
        background-color: var(--color-gray-500);
        padding-inline: --spacing(4);
        padding-block: --spacing(0.5);
        font-weight: var(--font-weight-medium);
        color: var(--color-white);
        display: flex;
        align-items: center;
        font-size: var(--text-sm);
        transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration));
        &:hover {
            @media (hover: hover) {
                background-color: var(--color-gray-400);
            }
        }
    }

    .modal-header {
        @apply font-medium text-gray-500;
    }
}

.custom-select {
    /* Remove default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Add custom button styles */
    border: none;
    cursor: pointer;

    /* Add a custom arrow */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    padding-right: 30px; /* Make space for the arrow */
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-margin {
    scroll-margin-top: 70px;
}
