@import "tailwindcss";
@import "../../node_modules/preline/variants.css";

@source "../../node_modules/preline/dist/*.js";

body {
    /*background: #dfefff;*/
    /*background: #e8f3ff;*/
    /*background-color: #f4f9ff;*/
}

html {
     scrollbar-gutter: stable;
}

.new-item {
    animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
    opacity: 0;
    transform: translateY(-20%);
    transform-origin: top center;
}

.discord-button {
    background-color: #5a68eb;
    transition: background-color 0.1s ease-in-out;

    &:hover {
        background-color: #4d59d4;
    }
}

@keyframes show {
    100% {
        opacity: 1;
        transform: none;
    }
}

gmp-place-autocomplete {
    color-scheme: light;
    outline: none !important;
}

.card-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
}

/* Custom styles for the date picker */
[data-vc-theme=light] .vc-date[data-vc-date-month=next]:not(.vc-date[data-vc-date-disabled]) .vc-date__btn,
[data-vc-theme=light] .vc-date[data-vc-date-month=prev]:not(.vc-date[data-vc-date-disabled]) .vc-date__btn {
    color: #59637b !important;
}

@layer utilities {
    .container {
        padding-inline: 1rem;
        margin-inline: auto;
    }

    .bg-indigo-25 {
        background-color: #F5F7FF;
    }

    .bg-indigo-10 {
        background-color: #fcfcff;
    }
}

@layer components {
    .btn {
        @apply font-medium rounded-full bg-indigo-500 px-4 py-2 text-white hover:bg-indigo-400 transition-colors text-sm;
    }

    .btn-animate {
        @apply transition-[translate,background-color] duration-75 ease-in-out active:translate-y-[2px] touch-manipulation
    }

    .form-input {
        @apply w-full p-3 resize-none bg-white placeholder:text-slate-400 shadow-sm text-slate-600 text-sm border border-indigo-200 rounded-xl hover:border-indigo-300 ease-in transition duration-300 focus:outline-none focus:border-indigo-400 focus:shadow;
    }

    .form-label {
        @apply mb-1 block text-sm text-slate-500 font-medium;
    }

    .modal-header {
        @apply font-medium text-gray-500;
    }

    .pill {
        @apply inline-flex items-center py-0.5 px-1.5 rounded-full text-sm font-medium bg-indigo-50 text-indigo-500;
    }
}

.custom-select {
    /* Remove default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Add custom button styles */
    border: none;
    cursor: pointer;

    /* Add a custom arrow */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    padding-right: 30px; /* Make space for the arrow */
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-margin {
    scroll-margin-top: 70px;
}
