{% set dayWithNight = false %}

<div id="day_{{ day.id }}_accommodation" class="space-y-2">
    {% if items[accommodationEnum] is defined %}
        {% for item in items[accommodationEnum] %}
            {% set isStartDay = item.startDay is same as(day) %}
            {% set isEndDay = item.endDay is same as(day) %}
            {% set dayWithNight = dayWithNight or isStartDay or not isEndDay %}
            {{ include('travel_item/accommodation/_show.frame.html.twig') }}
        {% endfor %}
    {% endif %}

    {% if not dayWithNight %}
        <div>
            <div class="text-purple-700">
                Vous n'avez pas encore de logement sur ces dates, 30 nov. - 12 janv.
            </div>
            <a href="{{ path('app_travelitem_create', {trip: trip.id, type: accommodationEnum, day: day.id }) }}"
               data-turbo-frame="modal"
            >
                Ajouter un hebergement
            </a>
        </div>
    {% endif %}
</div>
