<a href="{{ item.place.googleMapsURI }}"
   target="_blank"
   rel="noopener noreferrer"
   class="py-0.5 px-2.5 z-30 text-white font-medium text-sm bg-indigo-500 flex items-center focus:outline-none hover:bg-indigo-400 transition-colors rounded-xl">
    Maps
    <twig:ux:icon name="bxs:map" class="size-4 ml-1" />
</a>
