<!DOCTYPE html>
<html lang="fr" class="min-h-vh-100 scroll-smooth">
    <head>
        <meta charset="UTF-8">
        <meta name="view-transition" content="same-origin" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{% block title %}{{ app_name }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><circle cx=%2264%22 cy=%2264%22 r=%2264%22 fill=%22%23615fff%22/><text x=%2264%22 y=%2264%22 dy=%220.35em%22 text-anchor=%22middle%22 font-size=%2290%22 font-family=%22sans-serif%22 font-weight=%22bold%22 fill=%22%23ffffff%22>i</text></svg>">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            {% block additional_javascript %}{% endblock %}
        {% endblock %}
        {% block head %}
            {% if enableMorph is defined and enableMorph %}
                <meta name="turbo-refresh-method" content="morph">
                <meta name="turbo-refresh-scroll" content="preserve">
            {% endif %}
        {% endblock %}
    </head>
    <body class="{% block body_style %}min-h-screen{% endblock %}">
        {% block navbar %}{% endblock %}
        {% block body %}{% endblock %}
        <turbo-frame id="modal" data-controller="modal" data-turbo-cache="false"></turbo-frame>
    </body>
</html>
