{% props size = 'md' %}

{% set maxWidth = {
    'md': 'max-w-md',
    'lg': 'max-w-lg',
    'xl': 'max-w-xl',
} %}

<turbo-frame id="modal" {{ attributes }} class="">
    <div id="modal-backdrop"
         class="fixed inset-0 z-50 flex items-end justify-center md:items-center bg-black/25 transition-opacity duration-[400ms] opacity-0"
        {{ stimulus_target('modal', 'backdrop') }}
         data-action="click->modal#handleBackdropClick">

        <div class="bg-white shadow-xl
                    relative
                    w-full mx-0 rounded-t-2xl rounded-b-none
                    md:rounded-2xl md:mx-4 {{ maxWidth[size]|default('max-w-md') }}
                    max-h-[90vh]
                    overflow-y-auto
                    min-h-[50vh] md:min-h-0
                    transform transition-all duration-[300ms] ease-out
                    translate-y-full opacity-0
                    md:-translate-y-20"
            {{ stimulus_target('modal', 'modal') }}
        >
            <turbo-frame id="modal-content">
                <div class="flex select-none bg-white sticky top-0 z-20 items-center justify-center px-4 pb-1 pt-3">
                    {% block title %}{% endblock %}
                    <div class="absolute top-3 end-2">
                        <button type="button"
                                class="size-5 cursor-pointer inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent text-gray-800 hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none" aria-label="Close"
                                data-action="click->modal#close">
                            <span class="sr-only">Close</span>
                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                        </button>
                    </div>
                </div>

                <div class="px-3 md:px-5 pb-5 mt-5">
                    {% block content %}
                    {% endblock %}
                </div>

                {% block footer %}{% endblock %}
            </turbo-frame>
        </div>
    </div>
</turbo-frame>
