<turbo-frame id="modal" {{ attributes }} class="">
    <div id="modal-backdrop" class="fixed inset-0 transition-opacity duration-[400ms] bg-black/25 flex items-center justify-center z-50"
         style="opacity: 0"
        {{ stimulus_target('modal', 'backdrop') }}
         data-action="click->modal#handleBackdropClick">
        <div class="bg-white rounded-2xl shadow-xl max-w-md w-full mx-4 max-h-[90vh] overflow-hidden duration-[400ms] transition-[opacity,transform,translate]"
             style="transform: translateY(-35%);"
             style="opacity: 0"
             {{ stimulus_target('modal', 'modal') }}
        >
            <!-- Header -->
            <div class="flex relative items-center justify-between {{ block('title')|trim is not empty ? 'p-4 pr-12' }}">
                {% block title %}{% endblock %}
                <div class="absolute top-2 end-2">
                    <button type="button"
                            class="size-6 cursor-pointer inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none" aria-label="Close"
                            data-action="click->modal#close">
                        <span class="sr-only">Close</span>
                        <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                    </button>
                </div>
            </div>

            <div class="px-5 pt-8 pb-5  space-y-3">
                {% block content %}
                {% endblock %}
            </div>

            {% block footer %}{% endblock %}
        </div>
    </div>
</turbo-frame>
