    <div data-action="keydown.esc->live#action"
         data-live-action-param="cancel"
         {{ attributes.defaults({class: 'focus-within:bg-gray-100 hover:bg-gray-100 p-1 -m-1 mr-1 transition-colors group rounded-lg flex', type: 'button'}) }}>
        <textarea data-controller="textarea-autogrow"
                  data-model="debounce(300)|notes"
                  data-action="live#action"
                  data-live-action-param="save"
                  class="w-full peer resize-none text-gray-600 focus:outline-none focus:ring-0 text-sm"
                  rows="1"
                  spellcheck="false"
                  placeholder="Ajouter une note..."
        >{{ item.notes }}</textarea>
        <div class="opacity-0 space-x-1 peer-focus:opacity-100 flex items-start">
            <button data-action="live#action" data-live-action-param="cancel" class="cursor-pointer inline-flex items-center p-0.5 rounded-full text-gray-700 hover:bg-gray-100">
                <twig:ux:icon name="material-symbols:history" class="h-4 w-4 text-gray-500"/>
            </button>
        </div>
    </div>
