name: deploy

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

jobs:
    tests:
        name: Run Tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.3'
                  extensions: pdo_sqlite
                  coverage: none

            - name: Cache Composer packages
              id: composer-cache
              uses: actions/cache@v3
              with:
                  path: vendor
                  key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-php-

            - name: Install Dependencies
              run: composer install -q --prefer-dist --no-progress --no-interaction --no-scripts --no-ansi

            - name: Run Tests
              env:
                  APP_ENV: test
                  DATABASE_URL: "sqlite:///%kernel.project_dir%/var/test.db"
              run: composer test:ci

    deploy:
        name: Deploy
        needs: tests
        if: github.ref == 'refs/heads/master'
        concurrency: production_environment
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '8.3'

            -   name: Install Node.js
                uses: actions/setup-node@v4

            -   name: Install PHP dependencies
                run: composer install --prefer-dist --no-progress --no-interaction --no-scripts

            -   name: Install Node dependencies
                run: npm install

            -   name: Build Assets
                env:
                    APP_ENV: prod
                run: |
                    php bin/console importmap:install
                    php bin/console tailwind:build --minify
                    php bin/console asset-map:compile

            -   name: Deploy
                uses: deployphp/action@v1
                with:
                    dep: deploy
                    private-key: ${{ secrets.SSH_PRIVATE_KEY }}
                    known-hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
                env:
                    SSH_PORT: ${{ secrets.SSH_PORT }}
