name: deploy

on:
    push:
        branches: [ master ]

concurrency: production_environment

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '8.3'

            -   name: Install Node.js
                uses: actions/setup-node@v4

            -   name: Install PHP dependencies
                run: composer install --prefer-dist --no-progress --no-interaction --no-scripts

            -   name: Install Node dependencies
                run: npm install

            -   name: Build Assets
                env:
                    APP_ENV: prod
                run: |
                    php bin/console importmap:install
                    php bin/console tailwind:build --minify
                    php bin/console asset-map:compile

            -   name: Deploy
                uses: deployphp/action@v1
                with:
                    dep: deploy
                    private-key: ${{ secrets.SSH_PRIVATE_KEY }}
                    known-hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
                env:
                    SSH_PORT: ${{ secrets.SSH_PORT }}
